
#main-heading{
  font-size: 3rem;
  line-height: 1.5;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Montserrat', sans-serif;
}


body{
  font-size: 40px;
}


#title{
  background-color: #ff4c68;
  /* font-size: 13rem; */
}

body{
  background-color: red;
}

h1{
  font-size: 14rem;
}











/************FONTS*********
    font-family: 'Ubuntu', sans-serif;

    font-family: 'Montserrat', sans-serif;
 */
