#main-heading{
  font-size: 3rem;
  line-height: 1.5;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;
  /* font-size: 13rem; */
}








/************FONTS*********
    font-family: 'Ubuntu', sans-serif;

    font-family: 'Montserrat', sans-serif;
 */
